<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="container">
      <h1>Profile page</h1>
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <h3>Local account</h3>
            <p>
              <strong>id:</strong> <%= user._id %><br>
              <strong>email:</strong> <%= user.local.email %>
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <h3>Facebook account</h3>
            <p>
              <strong>id:</strong> <%= user.facebook.id %><br>
              <strong>email:</strong> <%= user.facebook.email %><br>
              <strong>name:</strong> <%= user.facebook.name %>
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <h3>Twitter account</h3>
            <p>
              <strong>id:</strong> <%= user.twitter.id %><br>
              <strong>username:</strong> <%= user.twitter.username %><br>
              <strong>displayName:</strong> <%= user.twitter.displayName %>
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <h3>Google account</h3>
            <p>
              <strong>id:</strong> <%= user.google.id %><br>
              <strong>username:</strong> <%= user.google.email %><br>
              <strong>name:</strong> <%= user.google.name %>
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <h3>GitHub account</h3>
            <p>
              <strong>id:</strong> <%= user.github.id %><br>
              <strong>username:</strong> <%= user.github.username %><br>
              <strong>name:</strong> <%= user.github.name %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
